<!DassetsOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    {% block stylesheets %}
        {#<!-- BEGIN GLOBAL MANDATORY STYLES -->#}
        {% stylesheets
            'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all'
            'assets/global/plugins/font-awesome/css/font-awesome.min.css'
            'assets/global/plugins/simple-line-icons/simple-line-icons.min.css'
            'assets/global/plugins/bootstrap/css/bootstrap.min.css'
            'assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css'
            filter='cssrewrite' %}
            {#<!-- END GLOBAL MANDATORY STYLES -->#}
            <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body class="page-container-bg-solid">
{% block body %}{% endblock %}
{% block javascripts %}
    {% javascripts
        "assets/global/plugins/jquery.min.js"
        "assets/global/plugins/bootstrap/js/bootstrap.min.js"
        "assets/global/plugins/js.cookie.min.js"
        "assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"
        "assets/global/plugins/jquery.blockui.min.js"
        "assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js"
        "bundles/fosjsrouting/js/router.js" %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock %}
</body>
</html>
